html,
body,
.cards {
    height: 100%;
}

body {
    background-image: url(/src/resources/images/background_tileable.jpg);
}

.content {
    display: flex;
    justify-content: center;
}

.profile-image {
    width: 100%;
    border-radius: 5px;
}

@media screen and (max-width: 720px) {
    .profile{
        flex-direction: column;
    }
    .profile>div{
        width: auto !important;
    }
}

.profile {
    display: flex;
    min-height: 10%;
    max-width: 1050px;
    justify-content: center;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.profile>div {
    padding: 10px;
}

.title {
    font-size: .8cm;
    font-family: 'PT Sans Caption', sans-serif;
    padding-top: 2%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 5px 5px 20px #00000063;
    overflow: hidden;
    border: 0px !important;
    border-radius: 2%;
    width: 400px;
    margin: 30px;
    height: fit-content;
    max-height: 600px;
}

.card.closed {
    transition: transform .2s;
}

.card.closed:hover {
    transform: scale(1.2);
}

.card-body {
    overflow-y: auto;
}

.social-icons {

    padding: 10px;
    font-size: 30px;
}